
/*
h2
{
    color: rgb(202, 43, 136);
}
*/

/*-- navigation--*/

.navigation.navbar {
    float: right;
    padding-top: 14px !important;
    padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 25px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec955;
    text-decoration: underline !important;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: #fec955;
    text-decoration: underline !important;
}

.navbar-expand-md .navbar-nav {
    padding-right: 10px;
}

.header {
    width: 100%;
    padding: 30px 30px;
    background: transparent;
    position: absolute;
    z-index: 999;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}


/** banner section **/

.banner_main {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    min-height: 900px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.banner_main::before {
    position: absolute;
    bottom: -63px;
    right: 17%;
    content: "";
    background: url(../images/button.png);
    background-repeat: no-repeat;
    width: 159px;
    z-index: 9999;
    height: 159px;
    cursor: pointer;
}

.text-bg {
    text-align: left;
    padding-right: 71px;
}

.text-bg h1 {
    color: #fff;
    font-size: 63px;
    line-height: 73px;
    padding-bottom: 30px;
}

.text-bg p {
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 70px;
    display: block;
}

.text_img {
    margin-right: -83px;
}

.text_img figure {
    margin: 0;
}

.text_img figure h3 {
    color: #fff;
    font-size: 30px;
    top: -18px;
    background: #ffca56;
    z-index: 999999;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    padding-top: 10px;
    left: -20px;
}

.text_img figure img {
    width: 100%;
}

.carousel-caption {
    position: inherit;
}

.carousel-inner {
    margin-right: 142px;
}

#banner1 .carousel-indicators {
    left: 6px;
    bottom: 40px;
    display: block;
    margin-left: 0;
    right: inherit;
    top: 36%;
}

#banner1 .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #f6f6f6;
    margin: 7px 0;
}

#banner1 .carousel-indicators li.active {
    background: #ffca56;
    border: #fff solid 6px;
    width: 25px;
    height: 25px;
    margin: 0 !important;
    padding: 0 !important;
}

#banner1 a.carousel-control-next,
#banner1 a.carousel-control-prev {
    display: none;
}

.text-bg a {
    font-size: 17px;
    background-color: transparent;
    border: #fff solid 2px;
    color: #fff;
    font-weight: 500;
    padding: 14px 0px;
    width: 100%;
    max-width: 215px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    margin-right: 10px;
}

.text-bg a:hover {
    background-color: #ffca56;
    color: #fff;
    transition: ease-in all 0.5s;
}
