
<!------ Include the above in your HEAD tag ---------->
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="thankyou-page" style="background: #02246a; padding: 100px 30px; text-align: center; background: #02246a; url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;">
    <div class="_header" style="background: #02246a; padding: 100px 30px; text-align: center; background: #02246a; url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;">
        <div class="logo" style="max-width: 200px;
        margin: 0 auto 50px;">
            <!--<img src="https://codexcourier.com/images/banner-logo.png" style="width: 100%;" alt="">-->
        </div>
        <h1 style="font-size: 65px;
        font-weight: 800;
        color: white;
        margin: 0;">Thank You!</h1>
    </div>
    <div class="_body" style="margin: -70px 0 30px;">
        <div class="_box" style=" margin: auto;
        max-width: 80%;
        padding: 50px;
        background: white;
        border-radius: 3px;
        box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
        -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
        -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);">
            <h2 style=" font-size: 32px;
            font-weight: 600;
            color: #4ab74a;">
                <strong>Your Counselling sessioin has been requested.</strong> Please read your email to confirm the timings.
            </h2>
            <p>
                Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.
            </p>
        </div>
    </div>
    <div class="_footer" style="text-align: center;
    padding: 50px 30px;">
        <p style="color:aliceblue">Having trouble? <a style="color:aliceblue" href="https://www.instagram.com/ananya_.rao/">Contact us</a> </p>
    </div>
</div>